# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules
client/node_modules
server/node_modules

# Build
dist
client/dist

# Uploads
server/uploads

# Environment
.env
server/.env
*.local

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
